<h1 style="color:blueviolet">Mist Techinal Assesment</h1>

<div style="display:flex;align-items:center;justify-content:center;flex-direction:column">

  <p style="text-align:center">Welcome here is our chatbot , built with: .Net Core Angular , to start chat with our chatbot just hit Let's get started  button </p>
  <button class="btn btn-primary " routerLink="/chat"> Let's Get Started </button>

</div>

<style>

  button {
    transition: 0.5s ease-in-out;
  }

  button:hover {
   
    color: blue;
    background: white;
  }

</style>
