
<div class="container">



  

  <div class="message-list" #scrollMe [scrollTop]="scrollMe.scrollHeight">

    <span @fade class="msg border-r" [ngStyle]="{'align-self':massage.isMe?'end':'start'}" *ngFor="let massage of messageService.messagesList">

      {{massage.text}}


    </span>


  </div>
 

  <div @fade   [class.d-none]="!messageService.typing">
    Bot is Typing.....
  </div>
  
  <div class="send">

    <input placeholder="message" class="form-control border-r " [(ngModel)]="msg">
    <button class="btn btn-primary border-r " (click)="sendMsg()">Send</button>

  </div>



</div>

<style>

  .message-list {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    border: 1px solid #80808040;
    border-radius: 16px;
    height: 70vh;
    overflow-y: scroll;
  }

    .message-list::-webkit-scrollbar {
      width: 7px;
      
    }

    .message-list::-webkit-scrollbar-track {
        background:transparent;
    }

    .message-list::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }

    .message-list::-webkit-scrollbar-track-piece:end {
      background: transparent;
      margin-bottom: 10px;
    }

    .message-list::-webkit-scrollbar-track-piece:start {
      background: transparent;
      margin-top: 10px;
    }

  .msg
  {

  margin:20px;
    padding:10px;
    min-width:50px;
    font-size:20px;
    font-family:Bahnschrift;
    color:white;
    background:blue;


  }
 
  .border-r {
    border-radius: 20px;
  }
  .send {
   /*/ position: fixed;*/
    bottom: 0px;
    /* right: 0; */
    padding: 21px;
    width: 78vw;
    /* box-shadow: 1px -3px 10px 9px #0024700d; */
    box-shadow: 1 1 0 gray;
    /* left: 0; */
    display: flex;
    flex-direction: row;
  }
   

</style>






